.chooseDirection{
    form{
        padding: 5px 10px;
        .form-group{
            display: flex;
            flex-direction: column;
            label, input{
                margin: 5px;
            };
            input{
                @include styleInput;
                cursor: pointer;
            };
            input:focus {
                color: $pink;
                border: none;
            };}
        @include breakpoint(desktop){
            @include width(85%, 5px auto, $whiteTrasp);
        }
    }
}
.legend{
    form{
        line-height: 1.5;
        font-size: 0.8rem;
        .infoPlane{
            :nth-child(n){
            margin: 3px;
        }}
        @include breakpoint(laptop){
            max-height: 35vh;
            overflow: hidden;
            .infoPlane{
                overflow-y: auto;
            }

        }
    }
}
.popupsingInUp
    form {
        @include positioning(flex, column, center);
        @include width(96vw, 5px auto, $white);
        @include breakpoint(laptop) {
            @include width(30vw, 10px auto, $white);
    }
        input{
            margin: 5px;
        }
        h1{
            font-size: 1.2rem;
            font-weight: bold;
            margin: 15px auto;
        }
        .passinfo, .nameinfo, .lastnameinfo, .emailinfo{
            @include positioning(flex, column, center);
            font-size: 0.8rem;
            width: 80%;
            margin-bottom: 5px;
        }
}