.chooseDirection{
    form{
        padding: 5px 15px;
        .form-group{
            display: flex;
            flex-direction: column;
            label, input{
                margin: 5px;
            };
            input{
                @include styleInput;
                cursor: pointer;
            };
            input:focus {
                color: $pink;
                border: none;
            };}
        @include breakpoint(desktop){
            @include width(85%, 5px auto, $whiteTrasp);
        }
    }
}