.chooseDirection{
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px;
        .form-group{
            display: flex;
            flex-direction: column;
            label, input{
                
                margin: 5px;
            }
        }

        @include breakpoint(tablet){
            flex-direction: row;
        }
        @include breakpoint(desktop){
            @include width(85%, 5px auto, $whiteTrasp);
        }
    }
}