//chooseDirection
.slide1, .slide3{
    height: 95%;
    width: 100%;
    @include positioning(flex, column, center);
}
.chooseDirection{
    font-size: 0.8rem;
    @include width(95%, 5px auto, $whiteTrasp);
    @include breakpoint(laptop){
        max-height: 40vh;
        @include width(85%, 10px auto, $whiteTrasp);
        padding: 15px ;
    }
}
//summary page
.summary{
    @include positioning(none, column, center);
    @include width(95%, 5px auto, $whiteTrasp);
    @include breakpoint(laptop){
        max-height: 38vh;
        @include width(85%, 10px auto, $whiteTrasp);
        padding: 15px ;
    }
    .upSectionSummary{
        @include positioning(flex, column, space-around);
        @include width(90%, 10px auto, $whiteTrasp);
        @include breakpoint(tablet){
            flex-direction: row;
            max-height: 34vh;
            @include width(90%, 0px auto, $whiteTrasp);
        }
    }
    .detailedFlight, .costsCalculate{
        @include positioning(flex, column, center);
        text-align: center;
        padding: 3%;
        h1{
            font-size: 1.2rem;
            margin-bottom: 8px;
            font-weight: bold;
        };
    }
    .costsCalculate{
        .app-body{
            input, select{
                font-size: 0.9rem;
                margin-bottom: 8px;
                text-align: center;
                @include styleInput;
            };
            select{
                cursor: pointer;
            };
            input:focus, select:focus{
                color: $pink;
                border: none;
            }
            option{
                color: $grey;
                background-color: $whiteTrasp;
            };
            .section-up, .section-down{
                @include positioning(flex, row, center)
            }
        }
        .rate-info{
            font-size: 0.7rem;
        }
    }
}

// weather section
.weather{
    max-height: 30vh;
    @include positioning(flex, column, center);
    @include width(95%, 5px auto, $whiteTrasp);
    .top {
        h1 {
            text-transform: uppercase;
            text-align: center;
            padding: 10px;
        }
    }
    .main-info {
        @include positioning(flex, row, space-around);
        .city-name {
            font-size: 1.2rem;
        }
        .photo {
            width: 10%;
            height: auto;
        }
    }
    .bottom {
        width: 80%;
        .headings,.weather-info {
            @include positioning(flex, row, center);
            p{ 
                width: 33.3%;
                text-align: center;
                font-size: 0.6rem;
                padding-top: 2% ;
                padding-bottom: 2% ;
                text-transform: uppercase;
                font-weight: bold;
                border-top: 1px solid $grey;
                @include breakpoint(laptop){
                    font-size: 0.7rem
                }
            }
        }
    }
    @include breakpoint(laptop){
        @include width(85%, 15px auto, $whiteTrasp);
    }
}
//slide2
.slide2{
    @include positioning(none, column, center);
    width: 100%;
    margin: 10px;
    padding: 5px;
    line-height: 1.4;
    @include breakpoint(laptop){
        flex-direction: row;
    }
    //chooseSit
    .chooseSit{
        @include positioning(flex, column, center);
        height: 100%;
        @include width(95%, 5px auto, $whiteTrasp);
        @include breakpoint(laptop){
            @include width(50%, 5px auto, $whiteTrasp);
        }
        .plane{
            overflow-y: auto;
            overflow-x: hidden;
            max-height: 70vh;
            object{
                height: 65vh;
                width: auto;
                object-fit: scale-down;
                @include transition(all 1s);
            }
            object:hover{
                @include scaleTranslate(4, 0, 40%);
                width:100%;
            }
            .unknown{
                display: flex;
                justify-content: center;
                align-items: center;
            };
            .country{
                display: none;
                justify-content: center;
            };
            .international{
                display: none;
                justify-content: center;
            };
            .intercontinental{
                display: none;
                justify-content: center;
            };
        }
    };
    .legend{
        @include positioning(flex, column, center);
        @include width(95%, 5px auto, $whiteTrasp);
        .color{
            height: 10px;
            width: 10px;
            border: 2px solid $black;
        }
        @include breakpoint(laptop){
            @include width(45%, 5px auto, $whiteTrasp);
        }
        form, .infoLegend{
            @include positioning(flex, column, center);
            padding: 10px;
            @include width(90%, 15px auto, $whiteTrasp);
            @include breakpoint(laptop){
                @include width(85%, 10px auto, $whiteTrasp);
            }
        }

        .infoPlane{
            
                i{
                    color: $lpink;
                    margin: 0 5px;
                    @include transition(color 0.5s ease);
                }
                i:hover{
                    color:$pink;
                }
        }
        .infoLegend
            .legendInfoDetailed{
                @include positioning(flex, row, space-around);
                ul{
                    @include positioning(flex, column, space-around);
                    align-items: flex-start;
                    text-align: left;
                    font-size: 0.7rem;
                    li{
                        @include positioning(flex, row, space-around);
                        padding: 2%;
                        margin: 2px 4px;
                        i{
                            margin: 0 5px;
                            font-size: 1rem;
                        }
                        .key-gut{
                            color: #2DD086;
                        }
                        .key-bwr{
                            color: #FFCC00;
                        }
                        .key-bad{
                            color:#C14437;
                        }
                        .key-std{
                            color: #fff;
                        }
                        .key-blk{
                            color:#BDBDBD;
                        }
                        .key-pre{
                            color: #2DB4D0;
                        }
                    }
                }}
    }
};

//popup common section for both html file
.popup {
    @include positioning(none, column, center);
    position: fixed;
    height: 100vh;
    z-index: 200;
    @include width(95%, 5px auto, $whiteTrasp);
    bottom: 20px;
    left: 50%;
    @include translateX(-50%);
    @include breakpoint(laptop){
        @include width(100%, 5px auto, $whiteTrasp)
    }
    .rule {
        display: none;
        justify-content: center;
        flex-wrap: wrap;
        z-index: 300;
        @include width(95%, 5px auto, $white);
    }
    .rule{
        font-size: 0.8rem;
        overflow: auto;
        line-height: 1.4;
        padding: 20px;
        h1{
            font-size: 1.2rem;
            text-transform: uppercase;
            text-decoration: underline;
            font-weight: bold;
        }
        ol{
            list-style-type: upper-roman;
            li{
                font-weight: bold;
            }
        }
        ul{
            list-style-type: circle;
            li{
                font-weight: normal;
            }
        }
        span{
            font-weight: bold;
            font-size: 1rem;
        }
        @include breakpoint(laptop){
            @include width(75%, 20px auto, $white);
            padding: 40px;
            font-size: 1.2rem;
            h1{
                font-size: 1.6rem;
            }
            span{
                font-size: 1.4rem;
            }
        }}
        }
.popupPW{
    @include positioning(none, column, center);
    height: 100vh;
    margin-top: 0px;
    position: fixed;
    z-index: 300;
    @include width(95%, 5px auto, $whiteTrasp);
    bottom: 20px;
    left: 50%;
    @include translateX(-50%);
    .scene {
        border: 1px solid #CCC;
        margin: 40px 0;
        position: relative;
        width: 210px;
        height: 240px;
        margin: 80px auto;
        perspective: 1000px;
        .carouselPW {
            width: 100%;
            height: 100%;
            position: absolute;
            @include translateZ(288px);
            transform-style: preserve-3d;
            @include transition(transform 1s);
            .carousel__cell {
                position: absolute;
                width: 190px;
                height: 220px;
                left: 10px;
                top: 10px;
                border: 2px solid black;
                text-align: center;
                @include transition (transform 1s, opacity 1s);
                background-color: rgba(255, 255, 255, 0.7);
                img{
                    margin-top: 30px;
                    width: 80%;  
                }
                h2, h3{
                    font-size: 16px;
                    color: black;
                    text-transform: uppercase;
                }
                
                &:nth-child(1) {
                    @include transformZrotateY(0deg, 288px); }
                &:nth-child(2) {
                    @include transformZrotateY(40deg, 288px); }
                &:nth-child(3) {
                    @include transformZrotateY(80deg, 288px); }
                &:nth-child(4) {
                    @include transformZrotateY(120deg, 288px); }
                &:nth-child(5) {
                    @include transformZrotateY(160deg, 288px); }
                &:nth-child(6) {
                    @include transformZrotateY(200deg, 288px); }
                &:nth-child(7) {
                    @include transformZrotateY(240deg, 288px); }
                &:nth-child(8) {
                    @include transformZrotateY(280deg, 288px); }
                &:nth-child(9) {
                    @include transformZrotateY(320deg, 288px); }}
            }
        }
    @include breakpoint(laptop){
        @include width(80%, 20px auto, $whiteTrasp)
    }
    .carousel-options {
        @include positioning(flex, column, center);
        // display: flex;
        // justify-content: center;
        text-align: center;
        position: relative;
        z-index: 500;
        background: hsla(0, 0%, 100%, 0.8);
        
        }
}
.popupsingInUp {
    @include positioning(none, column, center);
    position: fixed;
    height: 100vh;
    z-index: 200;
    @include width(95%, 5px auto, $whiteTrasp);
    bottom: 20px;
    left: 50%;
    @include translateX(-50%);
    @include breakpoint(laptop){
        @include width(100%, 5px auto, $whiteTrasp)
    }
}
.pay{
    @include positioning(none, column, center);
    position: fixed;
    height: 100vh;
    z-index: 200;
    @include width(95%, 5px auto, $white);
    bottom: 20px;
    left: 50%;
    @include translateX(-50%);
    @include breakpoint(laptop){
        @include width(100%, 5px auto, $white)
    }
}