//chooseDirection
.chooseDirection{
    max-height: 30%;
}
// weather section
.weather{
    max-height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include width(95%, 5px auto, $whiteTrasp);
    .top {
        h1 {
            text-transform: uppercase;
            text-align: center;
            padding: 10px;
        }
    }
    .main-info {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .city-name {
            font-size: 1.4rem;
        }
        .photo {
            width: 10%;
            height: auto;
        }
    }
    .bottom {
        width: 80%;
        .headings,.weather-info {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            p{ 
                width: 33.3%;
                text-align: center;
                font-size: 0.6rem;
                padding-top: 3% ;
                padding-bottom: 3% ;
                text-transform: uppercase;
                font-weight: bold;
                border-top: 1px solid $grey;
                border-bottom: 1px solid $grey;
                @include breakpoint(laptop){
                    font-size: 0.8rem
                }
            }
        }
    }
    @include breakpoint(laptop){
        @include width(85%, 5px auto, $whiteTrasp);
    }
}
//slide2
.slide2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include breakpoint(laptop){
        flex-direction: row;
    }
    //chooseSit
    .chooseSit{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        @include width(95%, 5px auto, $whiteTrasp);
        @include breakpoint(laptop){
            @include width(45%, 5px auto, $whiteTrasp);
        }
        .plane{
            height: 80%;
            object{
                height: 60vh;
                object-fit: scale-down;
            }
            .unknown{
                display: flex;
                justify-content: center;
                align-items: center;
            };
            .country{
                display: none;
                justify-content: center;
            };
            .international{
                display: none;
                justify-content: center;
            };
            .intercontinental{
                display: none;
                justify-content: center;
            };
        }
    };
    .legend{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include width(95%, 5px auto, $whiteTrasp);
        @include breakpoint(laptop){
            @include width(45%, 5px auto, $whiteTrasp);
        }
        .chooseLaugage, .infoPlane, .infoLegend{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 15px;
            @include width(90%, 15px auto, $whiteTrasp);
            @include breakpoint(laptop){
                @include width(85%, 15px auto, $whiteTrasp);
            }
        }
        .infoLegend
            .legendInfoDetailed{
                display: flex;
                flex-direction: row;
                ul{
                    display: flex;
                    flex-direction: column;

                }}
    }
};
//summary page
.mainSummary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include width(95%, 5px auto, $whiteTrasp);
    .upSectionSummary{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        @include width(90%, 5px auto, $whiteTrasp);
        @include breakpoint(tablet){
            flex-direction: row;
            @include width(85%, 30px auto, $whiteTrasp);
        }
    }
    .detailedFlight, .costsCalculate{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}


//popup common section for both html file
.popup {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    z-index: 200;
    @include width(95%, 5px auto, $whiteTrasp);
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    @include breakpoint(laptop){
        @include width(100%, 5px auto, $whiteTrasp)
    }
    .rule {
        display: none;
        justify-content: center;
        flex-wrap: wrap;
        z-index: 300;
        @include width(95%, 5px auto, $white);
    }
    .rule{
        font-size: 0.8rem;
        overflow: auto;
        line-height: 1.4;
        padding: 20px;
        h1{
            font-size: 1.2rem;
            text-transform: uppercase;
            text-decoration: underline;
            font-weight: bold;
        }
        ol{
            list-style-type: upper-roman;
            li{
                font-weight: bold;
            }
        }
        ul{
            list-style-type: circle;
            li{
                font-weight: normal;
            }
        }
        span{
            font-weight: bold;
            font-size: 1rem;
        }
        @include breakpoint(laptop){
            @include width(75%, 20px auto, $white);
            padding: 40px;
            font-size: 1.2rem;
            h1{
                font-size: 1.6rem;
            }
            span{
                font-size: 1.4rem;
            }
        }}
        .rule {
            @include breakpoint(laptop){
                @include width(45%, 5px auto, $white)
            }
        }
        }
.popupPW{
    display: none;
    height: 100vh;
    margin-top: 0px;
    //flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 300;
    @include width(95%, 5px auto, $whiteTrasp);
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    .scene {
        border: 1px solid #CCC;
        margin: 40px 0;
        position: relative;
        width: 210px;
        height: 240px;
        margin: 80px auto;
        perspective: 1000px;
        .carouselPW {
            width: 100%;
            height: 100%;
            position: absolute;
            transform: translateZ(-288px);
            transform-style: preserve-3d;
            transition: transform 1s;
            .carousel__cell {
                position: absolute;
                width: 190px;
                height: 220px;
                left: 10px;
                top: 10px;
                border: 2px solid black;
                text-align: center;
                transition: transform 1s, opacity 1s;
                background-color: rgba(255, 255, 255, 0.7);
                img{
                    margin-top: 30px;
                    width: 80%;  
                }
                h2, h3{
                    font-size: 16px;
                    color: black;
                    text-transform: uppercase;
                }
                
                &:nth-child(1) {
                    transform: rotateY(  0deg) translateZ(288px); }
                &:nth-child(2) {
                    transform: rotateY( 40deg) translateZ(288px); }
                &:nth-child(3) {
                    transform: rotateY( 80deg) translateZ(288px); }
                &:nth-child(4) {
                    transform: rotateY(120deg) translateZ(288px); }
                &:nth-child(5) {
                    transform: rotateY(160deg) translateZ(288px); }
                &:nth-child(6) {
                    transform: rotateY(200deg) translateZ(288px); }
                &:nth-child(7) {
                    transform: rotateY(240deg) translateZ(288px); }
                &:nth-child(8) {
                    transform: rotateY(280deg) translateZ(288px); }
                &:nth-child(9) {
                    transform: rotateY(320deg) translateZ(288px); }}
            .carousel-options {
                display: flex;
                justify-content: center;
                text-align: center;
                position: relative;
                z-index: 500;
                background: hsla(0, 0%, 100%, 0.8);
                
                }
            }
        }
    @include breakpoint(laptop){
        @include width(80%, 20px auto, $whiteTrasp)
    }
}
.popupsingInUp {
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 300;
    @include width(95%, 5px auto, $white);
    @include breakpoint(laptop){
        @include width(45%, 5px auto, $white)
    }
}
