@mixin breakpoint($point) {
    @if $point == desktop {
        @media (min-width: 992px) { @content ; }
    }
    @else if $point == laptop {
        @media (min-width: 768px) { @content ; }
    }
    @else if $point == tablet {
        @media (min-width: 576px) { @content ; }
    }
    @else if $point == mobileonly {
        @media (max-width: 575px)  { @content ; }
    }
}
@mixin width($width, $margin, $color){
        width: $width;
        margin: $margin;
        border-radius: 5px;
        background-color: $color;
        box-shadow: 5px 5px 15px 5px $grey;
    }
@mixin styleInput {
    background: $whiteTrasp;
    border-top: none;
    border-left: none;
    border-bottom: 2px solid $grey;
    border-right: 3px solid $pink;
    border-bottom-right-radius: 15px;
}
@mixin positioning ($display, $flex-direction, $justify-content){
    display: $display;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: center;
}
@mixin transition($arg...) {
    -webkit-transition: $arg;
    -moz-transition: $arg;
    -ms-transition: $arg;
    -o-transition: $arg;
    transition: $arg;
}
@mixin translateX($x...) {
    -webkit-transform: translateX($x);
    -moz-transform: translateX($x);
    -ms-transform: translateX($x);
    -o-transform: translateX($x);
    transform: translateX($x);
}
@mixin translateZ($z...) {
    -webkit-transform: translateZ($z);
    -moz-transform: translateZ($z);
    -ms-transform: translateZ($z);
    -o-transform: translateZ($z);
    transform: translateZ($z);
}
@mixin transformZrotateY($y, $z) {
    -webkit-transform: rotateY($y) translateZ($z);
    -moz-transform: rotateY($y) translateZ($z);
    -ms-transform: rotateY($y) translateZ($z);
    -o-transform: rotateY($y) translateZ($z);
    transform: rotateY($y) translateZ($z);
}
@mixin scaleTranslate($k, $a, $b) {
    -webkit-transform: scale($k) translate($a, $b);
    -moz-transform: scale($k) translate($a, $b);  
    -ms-transform: scale($k) translate($a, $b);
    -o-transform: scale($k) translate($a, $b);
    transform: scale($k) translate($a, $b);
}