@mixin breakpoint($point) {
    @if $point == desktop {
        @media (min-width: 992px) { @content ; }
    }
    @else if $point == laptop {
        @media (min-width: 768px) { @content ; }
    }
    @else if $point == tablet {
        @media (min-width: 576px) { @content ; }
    }
    @else if $point == mobileonly {
        @media (max-width: 575px)  { @content ; }
    }
}
@mixin width($width, $margin, $color){
        width: $width;
        margin: $margin;
        border-radius: 5px;
        background-color: $color;
    }